安裝套件:
pip install openai streamlit python-dotenv

Vscode延伸模組下載:
@id:ms-python.python

註冊OpenAI API Key:
網址 : https://platform.openai.com/settings/organization/api-keys

降版本
pip install httpx==0.23.0

運行應用程式:
streamlit run test.py


如何在A100使用llama3.1-70b:
https://build.nvidia.com/meta/llama-3_1-70b-instruct

像GPT一樣的搜尋功能
安裝 SerpAPI（用來呼叫 Google 搜尋）
pip install google-search-results

https://serpapi.com/ 這邊註冊帳號 取得API Key